InstagramApplication/Connected Services/PInstaSR/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/postService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InstagramReplicaService" />
  <xs:element name="createPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InstagramReplicaService" minOccurs="0" name="post" nillable="true" type="q1:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InstagramReplicaService" minOccurs="0" name="post" nillable="true" type="q2:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InstagramReplicaService" minOccurs="0" name="fetchPostResult" nillable="true" type="q3:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incrementLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="likes" type="xs:int" />
        <xs:element minOccurs="0" name="postid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incrementLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incrementLikeResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decrementLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="likes" type="xs:int" />
        <xs:element minOccurs="0" name="postid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decrementLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="decrementLikeResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>