InstagramApplication/Connected Services/PInstaSR/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InstagramReplicaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InstagramReplicaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="likes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photopath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postId" type="xs:int" />
      <xs:element minOccurs="0" name="post_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
</xs:schema>