InstagramApplication/Connected Services/PInstaSR/postService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="postService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/postService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/postService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/postService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InstagramReplicaService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IpostService_createPost_InputMessage">
    <wsdl:part name="parameters" element="tns:createPost" />
  </wsdl:message>
  <wsdl:message name="IpostService_createPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:createPostResponse" />
  </wsdl:message>
  <wsdl:message name="IpostService_deletePost_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePost" />
  </wsdl:message>
  <wsdl:message name="IpostService_deletePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePostResponse" />
  </wsdl:message>
  <wsdl:message name="IpostService_updatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePost" />
  </wsdl:message>
  <wsdl:message name="IpostService_updatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePostResponse" />
  </wsdl:message>
  <wsdl:message name="IpostService_fetchPost_InputMessage">
    <wsdl:part name="parameters" element="tns:fetchPost" />
  </wsdl:message>
  <wsdl:message name="IpostService_fetchPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:fetchPostResponse" />
  </wsdl:message>
  <wsdl:message name="IpostService_incrementLike_InputMessage">
    <wsdl:part name="parameters" element="tns:incrementLike" />
  </wsdl:message>
  <wsdl:message name="IpostService_incrementLike_OutputMessage">
    <wsdl:part name="parameters" element="tns:incrementLikeResponse" />
  </wsdl:message>
  <wsdl:message name="IpostService_decrementLike_InputMessage">
    <wsdl:part name="parameters" element="tns:decrementLike" />
  </wsdl:message>
  <wsdl:message name="IpostService_decrementLike_OutputMessage">
    <wsdl:part name="parameters" element="tns:decrementLikeResponse" />
  </wsdl:message>
  <wsdl:portType name="IpostService">
    <wsdl:operation name="createPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IpostService/createPost" message="tns:IpostService_createPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IpostService/createPostResponse" message="tns:IpostService_createPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IpostService/deletePost" message="tns:IpostService_deletePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IpostService/deletePostResponse" message="tns:IpostService_deletePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IpostService/updatePost" message="tns:IpostService_updatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IpostService/updatePostResponse" message="tns:IpostService_updatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fetchPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IpostService/fetchPost" message="tns:IpostService_fetchPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IpostService/fetchPostResponse" message="tns:IpostService_fetchPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="incrementLike">
      <wsdl:input wsaw:Action="http://tempuri.org/IpostService/incrementLike" message="tns:IpostService_incrementLike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IpostService/incrementLikeResponse" message="tns:IpostService_incrementLike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="decrementLike">
      <wsdl:input wsaw:Action="http://tempuri.org/IpostService/decrementLike" message="tns:IpostService_decrementLike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IpostService/decrementLikeResponse" message="tns:IpostService_decrementLike_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IpostService" type="tns:IpostService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createPost">
      <soap:operation soapAction="http://tempuri.org/IpostService/createPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <soap:operation soapAction="http://tempuri.org/IpostService/deletePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <soap:operation soapAction="http://tempuri.org/IpostService/updatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPost">
      <soap:operation soapAction="http://tempuri.org/IpostService/fetchPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incrementLike">
      <soap:operation soapAction="http://tempuri.org/IpostService/incrementLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrementLike">
      <soap:operation soapAction="http://tempuri.org/IpostService/decrementLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="postService">
    <wsdl:port name="BasicHttpBinding_IpostService" binding="tns:BasicHttpBinding_IpostService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/postService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>