InstagramApplication/Connected Services/CInstaSR/commentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="commentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/commentService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/commentService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/commentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InstagramReplicaService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IcommentService_createComment_InputMessage">
    <wsdl:part name="parameters" element="tns:createComment" />
  </wsdl:message>
  <wsdl:message name="IcommentService_createComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:createCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IcommentService_deleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteComment" />
  </wsdl:message>
  <wsdl:message name="IcommentService_deleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IcommentService_updateComment_InputMessage">
    <wsdl:part name="parameters" element="tns:updateComment" />
  </wsdl:message>
  <wsdl:message name="IcommentService_updateComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IcommentService_fetchComment_InputMessage">
    <wsdl:part name="parameters" element="tns:fetchComment" />
  </wsdl:message>
  <wsdl:message name="IcommentService_fetchComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:fetchCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="IcommentService">
    <wsdl:operation name="createComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommentService/createComment" message="tns:IcommentService_createComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommentService/createCommentResponse" message="tns:IcommentService_createComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommentService/deleteComment" message="tns:IcommentService_deleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommentService/deleteCommentResponse" message="tns:IcommentService_deleteComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommentService/updateComment" message="tns:IcommentService_updateComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommentService/updateCommentResponse" message="tns:IcommentService_updateComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fetchComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommentService/fetchComment" message="tns:IcommentService_fetchComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommentService/fetchCommentResponse" message="tns:IcommentService_fetchComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IcommentService" type="tns:IcommentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createComment">
      <soap:operation soapAction="http://tempuri.org/IcommentService/createComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <soap:operation soapAction="http://tempuri.org/IcommentService/deleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateComment">
      <soap:operation soapAction="http://tempuri.org/IcommentService/updateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchComment">
      <soap:operation soapAction="http://tempuri.org/IcommentService/fetchComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="commentService">
    <wsdl:port name="BasicHttpBinding_IcommentService" binding="tns:BasicHttpBinding_IcommentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/InstagramReplicaService/commentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>