InstagramApplication/Connected Services/CInstaSR/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InstagramReplicaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InstagramReplicaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commentId" type="xs:int" />
      <xs:element minOccurs="0" name="creation_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="postId" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
</xs:schema>